In [6]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import pandas as pd
data_list = [200,300,400,600,1000]
datadf = pd.DataFrame(data_list)
datadf

      0
0   200
1   300
2   400
3   600
4  1000

In [7]:
min_max_scaler = preprocessing.MinMaxScaler()
min_max_scaler

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
data_scaled = min_max_scaler.fit_transform(datadf)
final_datadf = pd.DataFrame(data_scaled)
final_datadf.index = data_list
final_datadf

          0
200   0.000
300   0.125
400   0.250
600   0.500
1000  1.000

In [10]:
scaler = StandardScaler()
data_zsn = pd.DataFrame(scaler.fit_transform(datadf))
data_zsn.index = data_list
data_zsn

             0
200  -1.060660
300  -0.707107
400  -0.353553
600   0.353553
1000  1.767767

In [12]:
sales_price = [5,10,11,13,15,35,50,55,72,92,204,215]
salesdf = pd.DataFrame(sales_price)
sales_bin1 = pd.qcut(salesdf[0],q=3)
sales_bin1

0      (4.999, 14.333]
1      (4.999, 14.333]
2      (4.999, 14.333]
3      (4.999, 14.333]
4     (14.333, 60.667]
5     (14.333, 60.667]
6     (14.333, 60.667]
7     (14.333, 60.667]
8      (60.667, 215.0]
9      (60.667, 215.0]
10     (60.667, 215.0]
11     (60.667, 215.0]
Name: 0, dtype: category
Categories (3, interval[float64]): [(4.999, 14.333] < (14.333, 60.667] < (60.667, 215.0]]

In [13]:
sales_bin2 = pd.qcut(salesdf[0],3)
sales_bin2

0      (4.999, 14.333]
1      (4.999, 14.333]
2      (4.999, 14.333]
3      (4.999, 14.333]
4     (14.333, 60.667]
5     (14.333, 60.667]
6     (14.333, 60.667]
7     (14.333, 60.667]
8      (60.667, 215.0]
9      (60.667, 215.0]
10     (60.667, 215.0]
11     (60.667, 215.0]
Name: 0, dtype: category
Categories (3, interval[float64]): [(4.999, 14.333] < (14.333, 60.667] < (60.667, 215.0]]